Repository sdelrio0/rails-react-apollo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix, rubocop --auto-correct

ActionCable, server side
  .rubocop.yml
  app/channels/application_cable/connection.rb
  app/channels/chat_channel.rb
Due: rubocop --auto-correct

Install ActionCable for JS
  package.json
  yarn.lock
Due: none

ActionCable, client
  frontend/client/cable.js
  frontend/client/chat.js
  frontend/components/message-form/message-form.js
  frontend/components/messages/messages.js
Due: prettier --write, eslint

Procfile for prod
  Procfile
  Procfile.dev
  README.md
Due: none

Update database.yml
  config/database.yml
Due: none

Add migration script to db
  Procfile
Due: none

Release script
  Procfile
Due: none

Install redis and setup prod setting
  Gemfile
  Gemfile.lock
  config/cable.yml
Due: none

Simplify lint-staged config file
  .lintstagedrc
Due: none

Delete old boilerplate code
  app/channels/chat_channel.rb
  app/controllers/auth_controller.rb
  app/controllers/chat_controller.rb
  app/controllers/pages_controller.rb
  app/models/message.rb
  app/views/auth/new.html.erb
  app/views/chat/show.html.erb
  app/views/pages/home.html.erb
  frontend/client/cable.js
  frontend/client/chat.js
  frontend/components/auth-form/_auth-form.html.erb
  frontend/components/auth-form/auth-form.js
  frontend/components/auth-form/auth-form.scss
  frontend/components/chat/_chat.html.erb
  frontend/components/chat/chat.js
  frontend/components/chat/chat.scss
  frontend/components/message-form/_message-form.html.erb
  frontend/components/message-form/message-form.js
  frontend/components/message-form/message-form.scss
  frontend/components/message/_message.html.erb
  frontend/components/message/message.js
  frontend/components/message/message.scss
  frontend/components/messages/_messages.html.erb
  frontend/components/messages/messages.js
  frontend/components/messages/messages.scss
  frontend/components/page/_page.html.erb
  frontend/components/page/page.css
  frontend/components/page/page.js
  frontend/init/index.css
  frontend/init/index.js
Due: prettier --write, eslint, stylelint --fix, rubocop --auto-correct

Install Material UI, ReactRails
  .babelrc
  Gemfile
  Gemfile.lock
  app/helpers/application_helper.rb
  app/views/layouts/application.html.erb
  config/webpacker.yml
  frontend/components/.gitkeep
  frontend/packs/hello_react.jsx
  frontend/packs/server_rendering.js
  package.json
  yarn.lock
Due: prettier --write, eslint, rubocop --auto-correct

Update lint config
  .lintstagedrc
Due: none

Update lint config
  frontend/packs/hello_react.jsx
Due: none

Initial ReactRails SSR
  .rubocop.yml
  app/controllers/frontend_controller.rb
  app/views/layouts/application.html.erb
  config/application.rb
  config/routes.rb
  db/migrate/20180131193153_create_messages.rb
  db/schema.rb
  frontend/components/index.js
  frontend/packs/hello_react.jsx
Due: prettier --write, eslint, rubocop --auto-correct

Working implementation of MaterialUI
  .eslintrc
  .prettierrc
  app/controllers/frontend_controller.rb
  frontend/components/index.js
  frontend/components/index.jsx
  frontend/components/withRoot.jsx
  package.json
  yarn.lock
Due: prettier --write, eslint, rubocop --auto-correct

Update rubocop rule back to 80 lines
  .rubocop.yml
  app/controllers/frontend_controller.rb
Due: rubocop --auto-correct

Material ui
  .eslintrc
  app/controllers/frontend_controller.rb
  app/views/layouts/application.html.erb
  frontend/components/.gitkeep
  frontend/components/App/App.jsx
  frontend/components/App/index.js
  frontend/components/NavBar/NavBar.jsx
  frontend/components/NavBar/index.js
  frontend/components/Root.jsx
  frontend/components/index.jsx
  frontend/components/withRoot.jsx
  frontend/packs/application.css
  frontend/packs/application.scss
  frontend/theme.js
  package.json
  yarn.lock
Due: prettier --write, eslint, stylelint --fix, rubocop --auto-correct

Material ui
  .eslintrc
  frontend/components/App/App.jsx
  frontend/components/NavBar/NavBar.jsx
  frontend/components/Root.jsx
Due: none

Instal GraphQL Ruby
  Gemfile
  Gemfile.lock
  app/controllers/graphql_controller.rb
  app/graphql/mutations/.keep
  app/graphql/schema.rb
  app/graphql/types/.keep
  app/graphql/types/mutation_type.rb
  app/graphql/types/query_type.rb
  config/routes.rb
Due: rubocop --auto-correct

Fix weird React rendering bug
  app/views/layouts/application.html.erb
  frontend/components/App/App.jsx
  frontend/packs/application.scss
Due: none

Working GraphQL and GraphiQL on dev
  .rubocop.yml
  Gemfile
  app/controllers/application_controller.rb
  app/controllers/graphql_controller.rb
  app/graphql/types/mutation_type.rb
  app/graphql/types/query_type.rb
  config/routes.rb
Due: rubocop --auto-correct

Working GraphQL and GraphiQL on dev
  app/graphql/schema.rb
Due: rubocop --auto-correct

Install Apollo client
  package.json
  yarn.lock
Due: none

Querying and set up subscription client
  frontend/components/App/App.jsx
  frontend/components/App/NavBar/NavBar.jsx
  frontend/components/App/NavBar/index.js
  frontend/components/App/Queries/Queries.jsx
  frontend/components/App/Queries/index.js
  frontend/components/Root.jsx
  frontend/components/Routes.jsx
  package.json
  yarn.lock
Due: prettier --write, eslint

Subscriptions and mutations
  Gemfile
  Gemfile.lock
  app/channels/graphql_channel.rb
  app/graphql/schema.rb
  app/graphql/types/mutation_type.rb
  app/graphql/types/subscription_type.rb
  frontend/components/App/App.jsx
  frontend/components/App/Mutations/Mutations.jsx
  frontend/components/App/Mutations/index.js
  frontend/components/App/Subscriptions/Subscriptions.jsx
  frontend/components/App/Subscriptions/index.js
Due: prettier --write, eslint, rubocop --auto-correct

Subscriptions and mutations
  frontend/components/App/Mutations/Mutations.jsx
Due: none

Path conditions:
  prettier --write: ((any of: config/webpack/**/*.js) or (any of: frontend/**/*.js)) or (any of: frontend/**/*.css)
  eslint: (any of: config/webpack/**/*.js) or (any of: frontend/**/*.js)
  stylelint --fix: any of: frontend/**/*.css
  rubocop --auto-correct: ((((any of: app/**/*.rb) or (any of: config/**/*.rb)) or (any of: db/**/*.rb)) or (any of: lib/**/*.rb)) or (any of: vendor/**/*.rb)
